In [7]:
import pandas as pd

# Suponiendo que los datos se cargan desde un archivo CSV
df = pd.read_csv("C:/Users/aritz/OneDrive/Escritorio/MUUUH/Master/Semestre 2/DI/yolo/runs/pose/data/user1_20240429145752.csv")

# Pivotar el DataFrame para obtener las coordenadas en una fila por cada label
df_pivot = df.pivot_table(index=['Session', 'Usuario', 'FrameID'], columns='Label', values=['X', 'Y'], aggfunc='first')

# Renombrar las columnas
df_pivot.columns = ['_'.join(col).strip() for col in df_pivot.columns.values]

# Restablecer el índice
df_pivot.reset_index(inplace=True)

# Mostrar el resultado
df_pivot.head()

,Session,Usuario,FrameID,X_left_ankle,X_left_ear,X_left_elbow,X_left_eye,X_left_hip,X_left_knee,X_left_shoulder,...,Y_left_wrist,Y_nose,Y_right_ankle,Y_right_ear,Y_right_elbow,Y_right_eye,Y_right_hip,Y_right_knee,Y_right_shoulder,Y_right_wrist
0,20240429145752,user1,0,0.0,469.92212,497.81670,463.92905,0.00000,0.0,482.05957,...,422.34088,356.04327,0.0,354.23650,424.86365,350.81260,0.0,0.0,384.82492,0.0
1,20240429145752,user1,1,0.0,0.00000,494.95496,472.10925,473.01610,0.0,483.71725,...,425.09778,357.22577,0.0,353.99356,421.65692,351.94336,0.0,0.0,381.83500,0.0
2,20240429145752,user1,2,0.0,0.00000,495.30667,471.49533,470.69998,0.0,483.44340,...,425.34030,354.52695,0.0,352.30905,419.42087,349.31195,0.0,0.0,380.78305,0.0
3,20240429145752,user1,3,0.0,550.05750,0.00000,531.42957,0.00000,0.0,581.83826,...,0.00000,405.56550,0.0,0.00000,0.00000,398.51807,0.0,0.0,448.46440,0.0
4,20240429145752,user1,4,0.0,0.00000,496.84300,475.08777,469.98523,0.0,484.63824,...,423.93927,352.70856,0.0,351.24933,419.89703,347.53717,0.0,0.0,380.76000,0.0